@import url('https://fonts.googleapis.com/css?family=Oswald');
.App{
    font-family: 'Oswald', cursive;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 25px
 
}